:root {
  --primary-color: #3373eb;
  --lighter-color: #f3f3f3;
  --light-color: #adadad;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: calc(
    12px + (22 - 18) * ((100vw - 320px) / (1600 - 300))
  ) !important;
}
body {
  text-align: center;
  padding: 100px;
  width: 100vw;
  overflow-x: hidden;
}
h5 {
  font-weight: 600;
}
.App-header {
  grid-column: 5/7;
  grid-row: 1/2;
  flex-direction: column;
  background: var(--lighter-color);
  color: var(--darker-color);
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: 1px;
}
.App-header__current-balance {
  margin: 1rem 0;
  font-size: 2rem;
}
.App-header__current-balance--value {
  font-size: 2rem;
}
.App-header__total-income {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 2rem;
}
.App-header__total-expense {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 2rem;
}
.main-container-income {
  width: 100vw;
  display: table-cell;
  padding: 1px;
  font-family: "Lato", sans-serif;
  background-color: rgb(230, 234, 248);
}
.main-container-expense {
  width: 100vw;
  display: table-cell;
  padding: 1px;
  font-family: "Lato", sans-serif;
  background-color: rgb(230, 234, 248);
}
.container-income-title {
  color: #e2b842;
  background: #012b39;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 0em;
  letter-spacing: 1px;
}
.container-expense-title {
  color: #e2b842;
  background: #012b39;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 0em;
  letter-spacing: 1px;
}
 .container-operations {
  display: grid;
  color: white;
  background: #012b39;
  font-weight: 600;
  justify-content:baseline;
  text-align: justify;
  height: 60px;
  margin-top: 1px;
  padding: 0.5rem 0rem;
}
.container-fluid {
   justify-content: center;
  display: grid;
  width: 100%; 
   outline: none;
  box-sizing: border-box; 
} 
.App-header,
.App-input,
.App-history {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
}
label {
  margin-bottom: 3px;
}
input {
  background: #ecf0f3;
  height: 30px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
.btn-add {
  border-radius: 100%;
  width: 50px;
}
 button {
  display: block;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
} 
.App-input {
  width: auto;
  text-align: center;
  color: white;
  padding: 1rem 0;
  background: var(--primary-color);
}
.App-input__group {
  padding: 10px;
  display: inline-block;
  width: auto;
  flex-direction: column;
  margin: auto;
}
