<form class="user-form" action="/createOperation" method="POST">
 <div class ="input-container">

      <input type="text" id="inputConcept" name="inputConcept" placeholder="concept"/>
      </div>

      <div class ="input-container">
       <input type="number" id="inputAmount" name="inputAmount" placeholder="amount"/>
      </div>

       <div class ="input-container">
       <input type="text" id="inputType" name="inputType" placeholder="type"/>
      </div>

      <input id="btnCreateOperation" class="btnCreateOperation" type="submit" value="addOperation" />
    </div>

    <div class ="divOperation" id="divOperation"></div>
    
    </form>
